/* style.css */
html {
    font-family: 'Roboto', sans-serif;
    color: #e5e7eb;
    font-size: 18px;
}

body {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 24px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

button {
    background-color: #3882f6;
    border-color: transparent;
    border-radius: 8px;
    padding: 8px 0;
    width: 128px;
    color: #e5e7eb;
    font-size: 18px;
}

.header, .footer {
    background-color: #1f2937;
    color: #ffffff;
    padding: 0 12em;
}

.footer {
    text-align: center;
    padding: 2em;
}

.header-row, .header-content {
    display: flex;
    justify-content: space-between;
}

.header-row {
    align-items: center;
}

.header-content {
    gap: 16px;
    padding: 136px 0;
}

.header-content .title {
    color: #f9faf8;
    font-weight: 1000;
    font-size: 48px;
}

.left, .right {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.right {
    background-color: #6D747D;
    justify-content: center;
    align-items: center;
}

.information, .quote, .action {
    display: flex;
    flex-direction: column;
    padding: 5em 12em;
}

.information {
    gap: 40px;
}

.quote {
    gap: 8px;
    background-color: #e5e7eb;
    color: #1f2937;
    padding: 5em 18em;
}

.information .title {
    text-align: center;
    color: #1f2937;
    font-weight: 1000;
    font-size: 36px;
}

.information .info-cards {
    padding: 0 5em;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.information .card {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    text-align: center;
}

.information .square {
    width: 12em;
    height: 12em;
    border: 3px ridge #3882f6;
    border-radius: 1em;
}

.quote .text {
    color: #1f2937;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.quote .person {
    align-self: flex-end;
    font-weight: 1000;
}

.blue-window {
    background-color: #3882f6;
    border-radius: 8px;
    padding: 3em 8em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action .left {
    flex: 1;
}

.action .title {
    font-size: 24px;
    font-weight: 1000;
}

.action button {
    border-color: #ffffff;
}